<p-toast></p-toast>
<div class="card">
    <div class="flex align-items-center justify-content-between">
        <h1>Manager clients</h1>
        <button pButton pRipple label="New client" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openAddDialog()"></button>
    </div>
    <div class="flex align-items-center justify-content-between my-3">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText #inputSearch type="text" (input)="dt.filterGlobal(inputSearch.value, 'contains')" placeholder="Search" />
        </span>
    </div>
    <p-table #dt [value]="clients" [rows]="10" [paginator]="true" [globalFilterFields]="['name','email','phone']" [tableStyle]="{'min-width': '75rem'}"
    [(selection)]="selectedClients" [rowHover]="true" dataKey="id"
    >
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name" style="min-width:15rem">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="email" style="min-width:15rem">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="phone" style="min-width:15rem">Phone <p-sortIcon field="phone"></p-sortIcon></th>
            <th pSortableColumn="Provider" >Providers <p-sortIcon field="providers"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
        <tr>
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>
            <td >
                <!-- <span *ngForm="let provider of client.providers">
                   {{provider.name}}
                </span> -->
                {{client.providers[0].name}}
            </td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editClient(client)" class=" p-button-success p-button-outlined"></button>
                <button pButton pRipple type="button" icon="pi pi-trash"(click)="deleteClient(client)"  class=" p-button-danger p-button-outlined"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr >
            <td class="text-center" colspan="7">No clients found.</td>
        </tr>
    </ng-template>
    </p-table>
</div>

<app-add-client *ngIf="clientAddDialog" [(visible)]="clientAddDialog"
			  (clientModifie)="onClientModify($event)">
</app-add-client>

<app-edit-client *ngIf="clientEditDialog" [(visible)]="clientEditDialog"
[client]="client" (clientModifie)="onClientModify($event)">
</app-edit-client>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>