<p-toast></p-toast>
<div class="card">
    <p-toolbar  style="background-color:red;border:none;" styleClass="mb-4 p-toolbar">
        <ng-template pTemplate="right">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="left">
            <h2>Manager clients</h2>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="clients" [rows]="10" [paginator]="true" [globalFilterFields]="['name']" [tableStyle]="{'min-width': '75rem'}"
    [(selection)]="selectedClients" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText #inputSearch type="text" (input)="dt.filterGlobal(inputSearch.value, 'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name" style="min-width:15rem">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="email" style="min-width:15rem">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="phone" style="min-width:15rem">Phone <p-sortIcon field="phone"></p-sortIcon></th>
            <th pSortableColumn="Provider" style="min-width:15rem">Provider <p-sortIcon field="provider"></p-sortIcon></th>
            <th>Actions </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
        <tr>
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.providers}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editClient(client)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteClient(client)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr >
            <td class="text-center" colspan="7">No clients found.</td>
        </tr>
    </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="clientDialog" [style]="{width: '500px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
    <div class="field">
        <label for="name">Name</label>
        <input type="text" pInputText id="name"  required autofocus />
        <small class="p-error" *ngIf="submitted && !client.name">Name is required.</small>
    </div>
    <div class="field">
        <label for="name">Email</label>
        <input type="text" pInputText id="email"  required autofocus />
        <small class="p-error" *ngIf="submitted && !client.name">Email is required.</small>
    </div>
    <div class="field">
        <label for="name">Phone</label>
        <input type="text" pInputText id="phone"  required autofocus />
        <small class="p-error" *ngIf="submitted && !client.name">Phone is required.</small>
    </div>
    <div class="field">
        <label for="name">Phone</label>
        <input type="text" pInputText id="phone"  required autofocus />
        <small class="p-error" *ngIf="submitted && !client.name">Phone is required.</small>
    </div>
    </ng-template>
    <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-primary" (click)="saveClients()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>