<!-- Créer un utilisateur-->
<p-dialog
		[(visible)]="visible"
		[style]="{width: '500px'}"
		header="Edit the client"
		[modal]="true" styleClass="p-fluid"
        (onShow)="onShowDialog()"
		(onHide)="hideDialog()">
	<form [formGroup]="clientForm" #form="ngForm" >
		<div class="grid m-2">
			<div class="col-12">
				<span class="p-float-label mb-1">
					<span>Name</span>
					<input 
						type="text" 
						maxlength="150" 
						pInputText 
						formControlName="name" 
						[ngClass]="(clientForm.controls['name'].invalid) ? 'ng-invalid ng-dirty': ''" 
						[ngClass]="(clientForm.controls['name'].invalid && form.submitted) ? 'ng-invalid ng-dirty': ''">
				</span>
				<div *ngIf="(clientForm.controls['name'].invalid && (clientForm.controls['name'].dirty || clientForm.controls['name'].touched)) || 
				        (clientForm.controls['name'].invalid && form.submitted)" 
					    style="color: red;">
					<div *ngIf="clientForm.controls['name'].errors?.['required']">
					  Name is required
					</div>
					<div *ngIf="clientForm.controls['name'].errors?.['minlength']">
						Name must be content minimum 3 characters
					  </div>
				</div>
			</div>
            <div class="col-12">
				<span class="p-float-label mb-1">
					<span>Email</span>
					<input 
						type="text" 
						maxlength="150" 
						pInputText 
						formControlName="email" 
						[ngClass]="(clientForm.controls['email'].invalid) ? 'ng-invalid ng-dirty': ''" 
						[ngClass]="(clientForm.controls['email'].invalid && form.submitted) ? 'ng-invalid ng-dirty': ''">
				</span>
				<div *ngIf="(clientForm.controls['email'].invalid && (clientForm.controls['email'].dirty || clientForm.controls['email'].touched)) || 
				        (clientForm.controls['email'].invalid && form.submitted)" 
					    style="color: red;">
					<div *ngIf="clientForm.controls['email'].errors?.['required']">
					    Email is required
					</div>
					<div *ngIf="clientForm.controls['email'].errors?.['email']">
						Email invalid
					  </div>
				</div>
			</div>
            <div class="col-12">
				<span class="p-float-label mb-1">
					<span>Phone</span>
					<input 
						type="text" 
						maxlength="150" 
						pInputText 
						formControlName="phone" 
						[ngClass]="(clientForm.controls['phone'].invalid) ? 'ng-invalid ng-dirty': ''" 
						[ngClass]="(clientForm.controls['phone'].invalid && form.submitted) ? 'ng-invalid ng-dirty': ''">
				</span>
				<div *ngIf="(clientForm.controls['phone'].invalid && (clientForm.controls['phone'].dirty || clientForm.controls['phone'].touched)) || 
				        (clientForm.controls['phone'].invalid && form.submitted)" 
					    style="color: red;">
					<div *ngIf="clientForm.controls['phone'].errors?.['required']">
					  Phone is required
					</div>
					<div *ngIf="clientForm.controls['phone'].errors?.['minlength']">
						Phone must content minimum 6 characters
					  </div>
				</div>
			</div>
            <div class="col-12">
                <h4>List of provider</h4>
                <form [formGroup]="providerForm" #form="ngForm" >
                    <div class="grid">
                        <div class="col-10 m-0 p-0">
                                <input 
                                    type="text" 
                                    maxlength="150" 
                                    pInputText 
                                    style="width: 100%;"
                                    placeholder="Add new provider"
                                    formControlName="name" 
                                    [ngClass]="(providerForm.controls['name'].invalid && form.submitted) ? 'ng-invalid ng-dirty': ''">
                            
                            <div *ngIf="(providerForm.controls['name'].invalid && form.submitted)" 
                                    style="color: red;">
                                <div *ngIf="providerForm.controls['name'].errors?.['required']">
                                  Name is required
                                </div>
                                <div *ngIf="providerForm.controls['name'].errors?.['minlength']">
                                    Name must content
                                  </div>
                            </div>
                        </div>
                        <div class="col-2 p-0">
                            <button pButton pRipple (click)="saveProvider()" type="submit" icon="pi pi-plus" class="p-button-outlined"></button>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="col-12">
                <p-table #dt 
				    [value]="providers" 
					editMode="row" 
					[rows]="10" 
					[paginator]="true"
                    [(selection)]="selectedProviders" 
					[rowHover]="true" dataKey="_id">
					<ng-template pTemplate="body" let-provider let-editing="editing" let-ri="rowIndex">
						<tr [pEditableRow]="provider">
							<td style="padding: 0%;margin: 0%;">
								<p-tableCheckbox [value]="provider"></p-tableCheckbox>
							</td>
							<td style="padding: 0%;margin: 0%;">
								<p-cellEditor>
									<ng-template pTemplate="input">
										<input pInputText type="text" formControlName="provider.name">
									</ng-template>
									<ng-template pTemplate="output">
										{{provider.name}}
									</ng-template>
								</p-cellEditor>
							</td>
							<td class="text-right" style="padding: 0%;margin: 0%;">
								<button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"  style="padding: 7px;" class=" p-button-success p-button-outlined"></button>
								<button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash" style="padding: 7px;" class=" p-button-danger p-button-outlined" (click)="deleteProvider(provider)"></button>
								<button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="updateProvider(provider)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
								<button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"  class="p-button-rounded p-button-text p-button-danger"></button>
							</td>
						</tr>
					</ng-template>
                </p-table>
    
                
            </div>
			<div class="col-12 md:col-12">
				<div class="flex justify-content-end">
					<p-button type="button" (onClick)="updateClient()" icon="pi pi-check" label="save">
					</p-button>
					<p-button label="Annuler" icon="pi pi-times" styleClass="p-button-sm p-button-text ml-1" (click)="hideDialog()">
					</p-button>
				</div>
			</div>
		</div>
	</form>
   
</p-dialog>
